:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

.sizeButton {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}

#container {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    width: 608px;
    height: 608px;
    margin: auto;
    border:1px solid rgb(36, 36, 36);
}

.grid-item {
    padding: 18px;
}

.my-color-class {
    background-color: grey;
}